
    <ul class="nav navbar-dark bg-dark">
      <!--  <li class="nav-item" routerLinkActive="active"*ngIf="isAuth">
          <a routerLink="books">livres</a>
        </li>--> 
        <li class="nav-item" routerLinkActive="active"*ngIf="isAuth">
          <a routerLink="listUsers">listUsers</a>
        </li>        
        <li class="nav-item" routerLinkActive="active"*ngIf="isAuth">
          <a routerLink="salons">salons</a>
        </li>        
        <li class="nav-item" routerLinkActive="active"*ngIf="isAuth">
          <a routerLink="messages">messages</a>
        </li>
        <li class="nav-item" routerLinkActive="active"*ngIf="isAuth">
            <a routerLink="profil">profil</a>
          </li>
          <li class="nav-item" routerLinkActive="active"*ngIf="isAuth">
              <a routerLink="singleUser">single</a>
            </li>
     <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signup">Créer un compte</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signin">Connexion</a>
      </li>
      <li class="nav-item" >
        <a class= "text-warning" (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer">déconnexion</a>
      </li>
    </ul>
