<div *ngIf="auth.user | async as user">
  <div class="h-80% d-inline-block" style="width:100%">
       <div  *ngFor="let post of posts | async">
            <div class="float-left p-3 mb-2 bg-primary">
                {{user.pseudo}}
            </div>
            <div>
                <p class="p-3 mb-2 text-left">{{ post.data.content }}</p>
            </div>
        </div>
   
</div>
<div class="fixed-bottom">
        <div class="form-group float-left">
            <textarea  
                rows="1"
                width="100%"
                [(ngModel)]="content" 
                name="content"
                placeholder="message.."></textarea>
        </div>
        <div class="float-right"><button type="submit" class="btn btn-primary" (click)="onAddPost()">envoyer</button></div>
</div>
</div>

<!-- <div  class="text-center" *ngIf="auth.user | async as user">
    <h1>{{ user.pseudo }} {{ user.message }}</h1>
</div>
<div>
    <div>
        <ul class="list-group" *ngFor="let user of users | async">
            <li class="list-group-item"> {{ user.message }}</li> 
        </ul>
    </div>
    <textarea [(ngModel)]="content" name="content"
     placeholder="Content.."></textarea>
     <button type="submit" class="btn btn-primary" (click)="addMessage()">envoyer</button>
</div> -->
    

